body {

}
header {
  text-align: center;
}
h1 {
text-align: center;
}
h2 {
text-align: center;
}
.container {

}
dt {
text-align: justify;
}
dd {
text-align: justify;
}
ul {

}
li {

}
div{
width: 30%;
}
footer {
text-align: center;
}
