body {

}
#modal {
  z-index: 1;
  position: fixed;
  overflow: auto;
  height: 100%;
  width: 100%;
}
#modal-textbox {
  height: 350px;
  background-color: white;
  margin: 150px;
}
div{
  display: inline-block;
  align-items: center;

}
header {
  text-align: center;
  width: auto;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
dt {
  text-align: justify;
}
dd {
  text-align: justify;
}

ul {
  text-align: justify;
}
li {
  text-align: left;
}
div .map{
  float: left;
}
footer {
  text-align: center;
}
