body {

}
header {
  text-align: center;
  width: auto;
}
h1 {
text-align: center;
}
h2 {
text-align: center;
}
dt {
text-align: justify;
}
dd {
text-align: justify;
}
.modal {
position: fixed;
overflow: auto;
height: 100%;
width: 100%;
}

ul {
text-align: justify;
}
li {
text-align: left;
}
div{
width: 30%;
}
footer {
text-align: center;
}
